@font-face {
  font-family: NerkoOne;
  src: url("../fonts/NerkoOne-Regular.ttf");
}
@font-face {
  font-family: Raleway;
  src: url("../fonts/Raleway-VariableFont_wght.ttf");
}
@font-face {
  font-family: Comic-Bold;
  src: url("../fonts/Comic\ Neue/ComicNeue-Bold.ttf");
}
@font-face {
  font-family: Comic-Regular;
  src: url("../fonts/Comic\ Neue/ComicNeue-Regular.ttf");
}
@font-face {
  font-family: Comic-Light;
  src: url("../fonts/Comic\ Neue/ComicNeue-Light.ttf");
}
@font-face {
  font-family: Tilt-Wrap;
  src: url("../fonts/TiltWarp-Regular.ttf");
}
@font-face {
  font-family: Climate-Crisis;
  src: url("../fonts/ClimateCrisis-Regular.ttf");
}
